@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300');

/*-------------------------- Colors */

header{
    background-color: #2a9bc8;
}

header a{
    color: #ffff48;
}

/*-------------------------- General styles */

.nav-tabs{
    border-bottom: none;
}


/*-------------------------- Header */

header{
    height: 120px;
}

header .row{
    padding-top: 10px;
}

#logo:hover{
    text-decoration: none;
}

h2{
    font-family: 'Oswald', sans-serif;  
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-right: 90px;
}

#nav-bar, #logo, #sign-up{
    line-height: 75px;
    text-decoration: none;

}

#nav-bar{
    list-style-type: none;
    font-size: 100%;
    letter-spacing: 3px;
    margin-top: 5px;
}

#nav-bar li{
    float: left;
    margin-left: 40px;
}

.col-5 h2{
    text-align: center;
}

#logo{
    font-size: 250%;
    letter-spacing: 4px;
    padding-right: 100px;
 
}

#sign-up{
    list-style-type: none;
    font-size: 100%;
    letter-spacing: 3px;
    padding-left: 200px;
    
}

.dropdown:hover .dropdown-menu, .dropdown-item{
    display:inline-block;
}

/*-------------------------- Hero Image */

#hero-image {
    position: relative;
}

#exercise-clip{
    height: 100%;
    object-fit: cover;
}

#hero-text2, #hero-text2 h1, #hero-text2 h3{
    color: #ffff48;
    text-align: center;
    font-size: 240%;
}


#hero-text2 {
   
    font-family: Oswald;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    padding-top: 30px;
    padding-left: 10px;
    background-color:rgba(42, 155, 200, .7);
    bottom: 30px;
    right: 120px;
    position: absolute;
}

#exercise-clip #hero-text1{
    bottom: 100%;
}

#hero-text1, #hero-text1 a{
    color: #ffff48;
    font-size: 20px;
    text-align: center;
   
}

#hero-text1 {
    letter-spacing: 2px;
    font-family: Oswald;
    height: 50px;
    width: 100%;
    background-color:rgba(255, 27, 107, .7);
    padding-top: 7px;
    top: 0;
    position: absolute;
}

/*-------------------------- About section */

#about-main-text{
    text-align:left;
    padding-right: 50px;
    padding-top: 200px;
  
}

.about-images {
    width: 60%;
    height: 60%;
    border-radius: 5px;
}

#about-image-section1, #about-image-section2{
    padding-top: 80px;
}

#about-image-section1 .about-images{
    float: left;
    margin-right: 10px;
}

#about-image-section2 .about-images{
    float: right;
    margin-left: 10px;
}

#about-image-1{
    position: relative;
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
}

.image-text1{
    position: absolute;
    padding-left: 3px;
    padding-top: 55px;
}

#about-image-2{
    position: relative;
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
}

.image-text2{
    position: absolute;
    padding-left: 215px;
    padding-top: 63px;
  }







