@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300');

/*-------------------------- Colors */

header{
    background-color: #2a9bc8;
}

header a{
    color: #ffff48;
}

/*-------------------------- General styles */

.nav-tabs{
    border-bottom: none;
}


/*-------------------------- Header */

header{
    height: 120px;
}

header .row{
    padding-top: 10px;
}

#logo:hover{
    text-decoration: none;
}

h2{
    font-family: 'Oswald', sans-serif;  
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-right: 90px;
}

#nav-bar, #logo, #sign-up{
    line-height: 75px;
    text-decoration: none;

}

#nav-bar{
    list-style-type: none;
    font-size: 100%;
    letter-spacing: 3px;
    margin-top: 5px;
}

#nav-bar li{
    float: left;
    margin-left: 40px;
}

.col-5 h2{
    text-align: center;
}

#logo{
    font-size: 250%;
    letter-spacing: 4px;
    padding-right: 100px;
 
}

#sign-up{
    list-style-type: none;
    font-size: 100%;
    letter-spacing: 3px;
    padding-left: 200px;
    
}

.dropdown:hover .dropdown-menu, .dropdown-item{
    display:inline-block;
}

/*-------------------------- Hero Image */

#exercise-clip{
    height: 100%;
    object-fit: cover;
}





